body {
    font-family: Tahoma, sans-serif;
    background-color: #111115;
    color: white;
}

button, input {
    font-family: Tahoma, sans-serif;
}

.nav {
    text-align: right;
}

div.content {
    /* text-align: center; */
}

table.centered {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color:orange;
    text-decoration: none;
    transition: 0.2s;
}